link(rel="stylesheet", href="../css/table-base.css")
section.table-container
  section.BD
    div.formFilters
      form(id="formFilters" class="formFilters") 
        label Nombre
          input(type="text" placeholder="Filtrar por nombre" name="name")
        label Numero expediente
          input(type="text" placeholder="Filtrar por # Expediente" name="expedient")
        button(type="submit" class="btnSearch") Buscar
    table.table
      thead
        tr
          th.icon-table 
            img(src="../assets/img/bookmark-solid.svg" alt="")
          th Expediente
          th Nombre
          th Serie
          th Pasillo
          th Estante
          th Caja 
          th Estado
          
        -var expedientes=expedientes;
        -var contador = 1;
        
      tbody#tbody
        each expediente in expedientes
          tr.tr-filter 
            td=contador ++
            td=expediente.numero_expediente
            td=expediente.nombre_expediente
            td=expediente.nombre_serie
            td=expediente.numero_pasillo
            td=expediente.estante
            td=expediente.caja
            td  
              if expediente.estado_organizativo
                span(class="organizado") Organizado 
              else if !expediente.estado_organizativo
                span(class="sinorganizar") Pendiente

div.buttonsPages
    -var pages = pages
    -for(var i = 1; i <= pages; i++ )
      div.pageIndex(id=i)= i